section {
  height: 100vh;
  width: 100%;
  // background-color: red;
}

.container {
  @include flex(center, center, column);
  // background-color: red;
  // border: 10px solid #fff;
}

.box {
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  min-height: 90vh;
  // flex-basis: 50%;
}

.box1 {
  @include flex(center, center, row);
  height: 8%;
  flex: 1 0 50%;
}
.game-text {
  background-color: $primary-color-900;
}
.box2 {
  @include flex(space-evenly, center, row);
  height: 8%;
  flex: 1 0 50%;
  // background-color: lightblue;
}
.game-runden {
  background-color: $primary-color-900;
}

.box3 {
  @include flex(space-around, center, row);
  flex: 1 0 100%;
  height: 8%;
  // background-color: rgb(91, 151, 13);
}
.game-score-board {
  background-color: $primary-color-800;
}

.box4 {
  @include flex(space-evenly, center, row);
  height: 49%;
  flex: 1 0 100%;
}
// .game-arena {
//   // background-color: violet;
// }

.box5 {
  @include flex(space-around, center, column);
  height: 10%;
  flex: 1 0 100%;
}
.game-text-banner {
  // background-color: rgb(161, 51, 161);
  transition: all 0.5s ease;
}
.box6 {
  @include flex(space-evenly, center, row);
  height: 15%;
  flex: 1 0 50%;
}
// .game-auswahl {
//   // background-color: lavender;
// }
.box7 {
  @include flex(center, center, row);
  height: 10%;
  flex: 1 0 100%;
}
// .game-ergebnisse {
//   // background-color: lightgrey;
// }

.game {
  background-color: rgb(245, 245, 245);
  height: 80vh;
  width: 80%;
  transition: all 1s ease-in-out;
}

/// arena
.haende {
  position: relative;
  @include flex(space-between, center, row);
  width: 60%;
  height: 10vh;
  // background-color: rgb(5, 201, 250);
  transition: all 1s ease;
}
.hands {
  z-index: 3;
  transition: all 0.5s ease;
}

.winnerFarbePlayer {
  background-color: $dark--primarysecondary-color;
  font-size: 10rem;
  transform: translateX(-1000px);
  color: #ffffff;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.winnerFarbeComputer {
  background-color: $secondary-color;
  font-size: 10rem;
  transform: translateX(100px);
  color: #ffffff;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

#player-hand {
  // background-color: yellow;
  // font-size: 8rem;
  transform: scale(1.1);
  transition: all 1s ease;
  padding: 5px;
  text-align: center;
}
.versus {
  transition: all 0.5s ease;
  padding: 10px;
  background-color: snow;
  border-radius: 50%;
}
#computer-hand {
  // background-color: red;
  // font-size: 8rem;
  transform: scale(1.1);
  transition: all 1s ease;
  padding: 5px;
  border-radius: 10%;
}

#player-punkte {
  // background-color: white;
  font-weight: 600;
  font-size: 3rem;
  transform: scale(1.2);
  transition: all 1s ease;
}
.doppelpunkt {
  font-size: 3rem;
}

#computer-punkte {
  // background-color: white;
  font-weight: 600;
  font-size: 3rem;
  transform: scale(1.2);
  transition: all 1s ease;
}

/////

.intro {
  position: absolute;
  @include flex(center, center, column);
  height: 70.6%;
  top: 23%;
  width: 80%;
  transition: opacity 0.5s ease;
  // background-color: #0278ae;
  z-index: 2;
}

.intro h1 {
  font-size: 5rem;
  margin-bottom: 8rem;
}

.intro button {
  font-size: 2rem;
  width: 30%;
  height: 50px;
  border: none;
  font-size: 2rem;
  margin-bottom: 13rem;
}
.restart {
  @include flex(space-evenly, center, column);
  position: absolute;
  top: 23%;
  height: 70.6%;
  width: 80%;
  transition: opacity 0.5s ease;
  // background-color: #4917d3;
  z-index: 2;
}
.restart-box {
  @include flex(center, center, column);
  width: 70%;
  margin-bottom: 25rem;
}
.restart h3 {
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}

.restart button {
  font-size: 2rem;
  width: 30%;
  height: 50px;
  border: none;
  font-size: 2rem;
  margin-bottom: 4rem;
}
#winner > h2 {
  margin-bottom: 3rem;
}

#winner > h4 {
  margin-bottom: 3rem;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}
.fadeIn {
  opacity: 1;
  pointer-events: all;
}

///
.formular h3 {
  text-align: center;
}

.form-control {
  padding: 10;
}

// icons avatar
#avatar-player {
  font-size: 3.7rem;
  // background-color: #0278ae;
  transition: all 1s ease;
}

#avatar-computer {
  font-size: 3.7rem;
  // background-color: #234bad;
  transition: all 1s ease;
}
#letsplay {
  transition: all 0.5s ease;
}

#muhammad-ali {
  transition: all 0.5s ease;
}

#demo1 {
  z-index: 3;
  font-size: 1.8rem;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.recPast {
  @include flex(center, center, row);
}

// .lastThreeRounds {
//   // background-color: #0278ae;
// }
.lastThreeRounds h1 {
  font-size: 3rem;
  // background-color: #02ae1f;
}

@keyframes flipIt {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 0%;
  }
  50% {
    transform: translateY(-50%) rotateX(-90deg) scale(2);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateY(-100%) rotateX(-180deg) scale(1);
    transform-origin: 50% 100%;
  }
}

@keyframes flipIt2 {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(2) rotate3d(-1, 1, 0, 180deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 360deg);
  }
}

.level2 {
  transition: all 1s ease;
}
// toggle
.selected1 {
  background-color: snow;
  color: #ff0000;
  // transform: scale(0.9);
  transition: all 1s ease;
}

.selected2 {
  background-color: snow;
  color: #495464;
  transform: scale(1.6);
  transition: all 1s ease;
}

@media screen and (max-width: 842px) {
  section {
    height: 100%;
    width: 100%;
    // background-color: red;
  }
  .container {
    @include flex(center, center, column);
    // background-color: red;
    // border: 10px solid #fff;
  }

  .intro {
    @include flex(center, center, column);
    height: 100%;
    top: 0%;
    width: 100%;
    // background-color: #0278ae;
    z-index: 2;
  }
  .intro h1 {
    font-size: 2.8rem;
    margin-bottom: 8rem;
  }

  .intro button {
    font-size: 2rem;
    width: 50%;
    height: 50px;
    border: none;
    font-size: 2rem;
    margin-bottom: 13rem;
  }

  .restart {
    @include flex(center, center, column);
    height: 100%;
    top: 0%;
    width: 100%;
    transition: opacity 0.5s ease;
    // background-color: #4917d3;
    z-index: 2;
  }

  .restart h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
  .restart h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .restart button {
    font-size: 3rem;
    width: 50%;
    height: 50px;
    border: none;
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .restart-box {
    @include flex(space-between, center, column);
    width: 70%;
    padding: 5rem;
    margin-bottom: 0rem;
  }

  .box {
    @include flex(center, center, row);
    min-height: 90vh;
    // flex-basis: 50%;
  }
  .box1 {
    flex: 1 1 100%;
  }
  .box6 {
    @include flex(center, center, row);
    height: 15%;
    flex: 1 0 100%;
  }
  button {
    width: 100%;
    font-size: 1.6rem;
  }
  .game {
    background-color: rgb(245, 245, 245);
    width: 100%;
  }
  .haende {
    position: relative;
    @include flex(space-between, center, row);
    width: 80%;
    height: 10vh;
    // background-color: rgb(5, 201, 250);
    transition: all 1s ease;
  }
  #player-hand {
    // background-color: yellow;
    font-size: 6rem;
  }
  #computer-hand {
    // background-color: yellow;
    font-size: 6rem;
  }
}

// @media screen and (min-width: 768px) {
// }

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
